<div class="modal-dialog modal-lg">
    <div class="modal-content b-shadow">
      <div class="modal-header">
        <h5 class="display-5" id="certificatesModalLabel">Certificates <i class="fa fa-trophy"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class=" display-6 mb-1"> English Certificate - C1 level </h3>
        <h4><b>Platform:</b> EF SET     <span class="d-inline"><button type="button" class="btn btn btn-sm" onclick=location.href='https://1drv.ms/b/s!AqSztURE3KZmb-J0IDcl4tvnUZY'>See</button></span></h4> 
      <br> 
        <h3 class="display-6 mb-1">React and Redux course</h3>
        <h4 class=><b>Platform:</b> Sololearn   <span class="d-inline"><button type="button" class="btn btn btn-sm" onclick=location.href='https://1drv.ms/b/s!AqSztURE3KZmceDOLrS5UydXWLQ'> See</button></span></h4> 
      <br> 
        <h3 class="display-6 mb-1">The Web Developer Bootcamp 2022</h3>
        <h4 class=><b>Platform:</b> Udemy   <span class="d-inline"><button type="button" class="btn btn btn-sm"onclick=location.href='https://1drv.ms/b/s!AqSztURE3KZmcnchVaKms91xSqI'>See</button></span></h4> 
      <br> 
        <h3 class="display-6 mb-1">React & TypeScript Chrome Extension</h3>
        <h4 class=><b>Platform:</b> Udemy   <span class="d-inline"><button type="button" class="btn btn btn-sm">See</button></span></h4> 
        <br> 
        <h3 class="display-6 mb-1">Complete React Developer 2022 (w/ Redux, Hooks and GraphQL)</h3>
        <h4 class=><b>Platform:</b> Udemy   <span class="d-inline"><%-  include('./dots') %></span></h4> 
      

      </div>
    </div>
</div>