<div class="modal-dialog ">
  <div class="modal-content b-shadow">
    <div class="modal-header">
      <h5 class="display-5" id="aboutmeModalLabel">More about me <i class="fa fa-user"></i></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <img src="https://erysouza98.github.io/public/images/perfil.jpg" width="200px">

      <h4>Hi!!</h4>

      <h5>
        My name is Erika Souza and I'm 23 years old. <br>
      </h5>

      <h6>
        I finished Secondary School in Socioeconomics,
        but at that time I didn't identify myself with any course or university related to that area. <br>
        Since then, I've been working in Restaurants and Retail, until this year I decided to invest in my  
        future and begin to learn and enjoy the IT world. <br>
        I really love to learn and I'm very hard working.
      </h6>
      <h5>
        I'm not afraid of challenges, I'm more afraid of people, who don't give me opportunities to show that I'm capable!
      </h5>
    </div>
  </div>
</div>