<div class="modal-dialog">
    <div class="modal-content b-shadow">
      <div class="modal-header">
        <h5 class="display-5" id="projectsModalLabel">Some of my Projects <i class="fa fa-folder"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
</div>