html, body{
    background-color: #f3f0e0;
}

img {
    border-radius: 50%;
  }

  @keyframes blink { 50% { fill: transparent }}
.dot { 
  animation: 1s blink infinite;
  fill: rgb(0, 0, 0);
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

.loader {
  background-color: #f3f0e0;

  color: grey;
}

.btn  {
    background-color:#ff5757;
    border: none;
    color: #f3f0e0 ;
    padding: 51px; 
    text-align: center;
    text-decoration:none;
    font-size: 45px;
    margin: 20px 20px 20px 20px;
  }

.btn {border-radius: 50%;}


.b-shadow{
    box-shadow: 5px 10px 18px rgb(0, 0, 0);
    border-radius: 0;
}

.btn-sm{
  padding: 7px 20px;
  border: none;
  font: inherit;
  color: white;
  background-color:#a57c64;
  border-radius: 5px;

}

#myForm {
background-color: #b6917c;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
    font-size: 30px;
    color:rgb(0, 0, 0);
 }

 .sendForm {
  background-color: #ff5757;
  padding: 7px 20px;
  border-radius: 5px;
  color:black
 }


.loading{
  opacity: 0.5;
}

.loading-animation{
  position: absolute;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}