html, body{
    background-color: #f3f0e0;
}

img {
    border-radius: 50%;
  }

  @keyframes blink { 50% { fill: transparent }}
.dot { 
  animation: 1s blink infinite;
  fill: rgb(0, 0, 0);
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

.loader {
  background-color: #f3f0e0;

  color: grey;
}

.btn  {
    background-color:#ff5757;
    border: none;
    color: #f3f0e0 ;
    padding: 51px; 
    text-align: center;
    text-decoration:none;
    font-size: 45px;
    margin: 20px 20px 20px 20px;
  }

.btn {border-radius: 50%;}


.b-shadow{
    box-shadow: 5px 10px 18px rgb(0, 0, 0);
    border-radius: 0;
}

.btn-sm{
  padding: 7px 20px;
  border: none;
  font: inherit;
  color: white;
  background-color:#a57c64;
  border-radius: 5px;

}

#myForm {
background-color: #b6917c;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
    font-size: 30px;
    color:rgb(0, 0, 0);
 }

 .sendForm {
  background-color: #ff5757;
  padding: 7px 20px;
  border-radius: 5px;
  color:black
 }

 .d-none{
  display: none;
}